In [1]:
import pandas as pd 
from unidecode import unidecode
import numpy as np

In [2]:
df_donnees_communes =pd.read_excel('H:\\Mon Drive\\Data_Analyst_Florentin_Marrouard\Projet 3   Créez et utilisez une base de données immobilière avec SQL\\BDD\Brut\\donnees_communes.xlsx')
df_ref_geo =pd.read_excel('H:\\Mon Drive\\Data_Analyst_Florentin_Marrouard\Projet 3   Créez et utilisez une base de données immobilière avec SQL\\BDD\Brut\\fr-esr-referentiel-geographique.xlsx')
df_valeurs_foncieres =pd.read_excel('H:\\Mon Drive\\Data_Analyst_Florentin_Marrouard\Projet 3   Créez et utilisez une base de données immobilière avec SQL\\BDD\Brut\\Valeurs-foncières.xlsx')

In [3]:
df_donnees_communes.head()

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT
0,84,Auvergne-Rhône-Alpes,01,2.0,08,1,L'Abergement-Clémenciat,779,19,798
1,84,Auvergne-Rhône-Alpes,01,1.0,01,2,L'Abergement-de-Varey,256,1,257
2,84,Auvergne-Rhône-Alpes,01,1.0,01,4,Ambérieu-en-Bugey,14134,380,14514
3,84,Auvergne-Rhône-Alpes,01,2.0,22,5,Ambérieux-en-Dombes,1751,25,1776
4,84,Auvergne-Rhône-Alpes,01,1.0,04,6,Ambléon,112,6,118

In [4]:
df_donnees_communes['REG_TRI'] = df_donnees_communes['REG'].apply(str.upper)
df_donnees_communes['REG_TRI'] = df_donnees_communes['REG_TRI'].apply(unidecode)

In [5]:
df_donnees_communes['COM'] = df_donnees_communes['COM'].astype(str)

In [6]:
df_donnees_communes['COM_TRI'] = df_donnees_communes['COM'].apply(str.upper)

df_donnees_communes['COM_TRI'] = df_donnees_communes['COM_TRI'].apply(unidecode)

In [7]:
df_donnees_communes.head()

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT,REG_TRI,COM_TRI
0,84,Auvergne-Rhône-Alpes,01,2.0,08,1,L'Abergement-Clémenciat,779,19,798,AUVERGNE-RHONE-ALPES,L'ABERGEMENT-CLEMENCIAT
1,84,Auvergne-Rhône-Alpes,01,1.0,01,2,L'Abergement-de-Varey,256,1,257,AUVERGNE-RHONE-ALPES,L'ABERGEMENT-DE-VAREY
2,84,Auvergne-Rhône-Alpes,01,1.0,01,4,Ambérieu-en-Bugey,14134,380,14514,AUVERGNE-RHONE-ALPES,AMBERIEU-EN-BUGEY
3,84,Auvergne-Rhône-Alpes,01,2.0,22,5,Ambérieux-en-Dombes,1751,25,1776,AUVERGNE-RHONE-ALPES,AMBERIEUX-EN-DOMBES
4,84,Auvergne-Rhône-Alpes,01,1.0,04,6,Ambléon,112,6,118,AUVERGNE-RHONE-ALPES,AMBLEON

In [8]:
df_ref_geo['REG_TRI'] =  df_ref_geo['reg_nom'].apply(str.upper)
df_ref_geo['REG_TRI'] = df_ref_geo['REG_TRI'].apply(unidecode)


df_ref_geo['COM'] =df_ref_geo['com_nom'].astype(str)
df_ref_geo['COM_TRI'] = df_ref_geo['COM'].apply(str.upper)
df_ref_geo['COM_TRI'] = df_ref_geo['COM_TRI'].apply(unidecode)

In [9]:
df_ref_geo.head()

,regrgp_nom,reg_nom,reg_nom_old,aca_nom,dep_nom,com_code,com_code1,com_code2,com_id,com_nom_maj_court,...,uu_id_99,au_code,au_id,auc_id,auc_nom,uu_id_10,geolocalisation,REG_TRI,COM,COM_TRI
0,Province,Bourgogne-Franche-Comté,Franche-Comté,Besançon,Haute-Saône,70088,70088,70088,C70088,BOURGUIGNON LES LA CHARITE,...,SO,NaN,AU997,C70088,Bourguignon-lès-la-Charité,SO,"47.5075942378,5.96493598181",BOURGOGNE-FRANCHE-COMTE,Bourguignon-lès-la-Charité,BOURGUIGNON-LES-LA-CHARITE
1,Province,Bourgogne-Franche-Comté,Franche-Comté,Besançon,Haute-Saône,70095,70095,70095,C70095,BREUREY LES FAVERNEY,...,SO,135,AU135,AU135,Vesoul,SO,"47.7448155296,6.14540506475",BOURGOGNE-FRANCHE-COMTE,Breurey-lès-Faverney,BREUREY-LES-FAVERNEY
2,Province,Bourgogne-Franche-Comté,Franche-Comté,Besançon,Haute-Saône,70101,70101,70101,C70101,BROYE AUBIGNEY MONTSEUGNY,...,SO,25,AU025,AU025,Dijon,SO,"47.3305692734,5.5187191763",BOURGOGNE-FRANCHE-COMTE,Broye-Aubigney-Montseugny,BROYE-AUBIGNEY-MONTSEUGNY
3,Province,Bourgogne-Franche-Comté,Franche-Comté,Besançon,Haute-Saône,70111,70111,70111,C70111,CALMOUTIER,...,SO,135,AU135,AU135,Vesoul,SO,"47.6443877301,6.28291281829",BOURGOGNE-FRANCHE-COMTE,Calmoutier,CALMOUTIER
4,Province,Bourgogne-Franche-Comté,Franche-Comté,Besançon,Haute-Saône,70116,70116,70116,C70116,CHAGEY,...,SO,NaN,AU997,C70116,Chagey,SO,"47.6209267815,6.7351701305",BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY

In [10]:
df_ref_geo_tri = df_ref_geo.drop(["reg_nom_old",
                                  'aca_nom',
                                  'dep_nom',
                                  'com_code2',
                                  "com_id",
                                  "com_nom_maj_court",
                                  "com_nom_maj",
                                  "com_nom",
                                  "uu_code",
                                  "uu_id",
                                  "uucr_id",
                                  "uucr_nom",
                                  "ze_id",
                                  "dep_code",
                                  "dep_id",
                                  "dep_nom_num",
                                  "dep_num_nom",
                                  "aca_code",
                                  "aca_id",
                                  "reg_code",
                                  "reg_code_old",
                                  "reg_id_old",
                                  "fd_id",
                                  "fr_id",
                                  "fe_id",
                                  "uu_id_99",
                                  "au_code",
                                  "au_id",
                                  "auc_id",
                                  "auc_nom",
                                  "uu_id_10",
                                  "reg_id",
                                  "geolocalisation",
                                  "reg_nom",
                                  "com_code"
                                  ],axis=1)


df_ref_geo_tri.head()

,regrgp_nom,com_code1,REG_TRI,COM,COM_TRI
0,Province,70088,BOURGOGNE-FRANCHE-COMTE,Bourguignon-lès-la-Charité,BOURGUIGNON-LES-LA-CHARITE
1,Province,70095,BOURGOGNE-FRANCHE-COMTE,Breurey-lès-Faverney,BREUREY-LES-FAVERNEY
2,Province,70101,BOURGOGNE-FRANCHE-COMTE,Broye-Aubigney-Montseugny,BROYE-AUBIGNEY-MONTSEUGNY
3,Province,70111,BOURGOGNE-FRANCHE-COMTE,Calmoutier,CALMOUTIER
4,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY

In [11]:
df_ref_geo_tri['id_Region'] = pd.factorize(df_ref_geo_tri['REG_TRI'])[0]

df_ref_geo_tri['id_Region'] = df_ref_geo_tri['id_Region'] + 1

In [12]:
df_ref_geo_tri.head(50000)

,regrgp_nom,com_code1,REG_TRI,COM,COM_TRI,id_Region
0,Province,70088,BOURGOGNE-FRANCHE-COMTE,Bourguignon-lès-la-Charité,BOURGUIGNON-LES-LA-CHARITE,1
1,Province,70095,BOURGOGNE-FRANCHE-COMTE,Breurey-lès-Faverney,BREUREY-LES-FAVERNEY,1
2,Province,70101,BOURGOGNE-FRANCHE-COMTE,Broye-Aubigney-Montseugny,BROYE-AUBIGNEY-MONTSEUGNY,1
3,Province,70111,BOURGOGNE-FRANCHE-COMTE,Calmoutier,CALMOUTIER,1
4,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY,1
...,...,...,...,...,...,...
38911,Province,26137,AUVERGNE-RHONE-ALPES,Francillon-sur-Roubion,FRANCILLON-SUR-ROUBION,3
38912,Province,26138,AUVERGNE-RHONE-ALPES,La Garde-Adhémar,LA GARDE-ADHEMAR,3
38913,Province,26142,AUVERGNE-RHONE-ALPES,Glandage,GLANDAGE,3
38914,Province,26147,AUVERGNE-RHONE-ALPES,Gumiane,GUMIANE,3
38915,Province,26149,AUVERGNE-RHONE-ALPES,Hostun,HOSTUN,3

In [13]:
df_donnees_communes.head()

,CODREG,REG,CODDEP,CODARR,CODCAN,CODCOM,COM,PMUN,PCAP,PTOT,REG_TRI,COM_TRI
0,84,Auvergne-Rhône-Alpes,01,2.0,08,1,L'Abergement-Clémenciat,779,19,798,AUVERGNE-RHONE-ALPES,L'ABERGEMENT-CLEMENCIAT
1,84,Auvergne-Rhône-Alpes,01,1.0,01,2,L'Abergement-de-Varey,256,1,257,AUVERGNE-RHONE-ALPES,L'ABERGEMENT-DE-VAREY
2,84,Auvergne-Rhône-Alpes,01,1.0,01,4,Ambérieu-en-Bugey,14134,380,14514,AUVERGNE-RHONE-ALPES,AMBERIEU-EN-BUGEY
3,84,Auvergne-Rhône-Alpes,01,2.0,22,5,Ambérieux-en-Dombes,1751,25,1776,AUVERGNE-RHONE-ALPES,AMBERIEUX-EN-DOMBES
4,84,Auvergne-Rhône-Alpes,01,1.0,04,6,Ambléon,112,6,118,AUVERGNE-RHONE-ALPES,AMBLEON

In [14]:
df_commune = df_donnees_communes.loc[:,["CODDEP","CODCOM","COM","PTOT"]]

df_commune = df_commune.rename({'CODDEP': 'code_departement', 'CODCOM': 'code_commune',"PTOT" : "Nb_hab_total","COM" : "Nom_commune"}, axis=1) 

df_commune["id_code_dep_code_commune"] = df_commune['code_departement'].astype(str) + df_commune['code_commune'].astype(str)


df_commune['Nom_commune'] =df_commune['Nom_commune'].astype(str)
df_commune['COM_TRI'] = df_commune['Nom_commune'].apply(str.upper)
df_commune['COM_TRI'] = df_commune['COM_TRI'].apply(unidecode)

df_commune.head(50)

,code_departement,code_commune,Nom_commune,Nb_hab_total,id_code_dep_code_commune,COM_TRI
0,01,1,L'Abergement-Clémenciat,798,011,L'ABERGEMENT-CLEMENCIAT
1,01,2,L'Abergement-de-Varey,257,012,L'ABERGEMENT-DE-VAREY
2,01,4,Ambérieu-en-Bugey,14514,014,AMBERIEU-EN-BUGEY
3,01,5,Ambérieux-en-Dombes,1776,015,AMBERIEUX-EN-DOMBES
4,01,6,Ambléon,118,016,AMBLEON
5,01,7,Ambronay,2915,017,AMBRONAY
6,01,8,Ambutrix,777,018,AMBUTRIX
7,01,9,Andert-et-Condon,335,019,ANDERT-ET-CONDON
8,01,10,Anglefort,1122,0110,ANGLEFORT
9,01,11,Apremont,379,0111,APREMONT
10,01,12,Aranc,333,0112,ARANC
11,01,13,Arandas,147,0113,ARANDAS
12,01,14,Arbent,3442,0114,ARBENT
13,01,15,Arboys en Bugey,667,0115,ARBOYS EN BUGEY
14,01,16,Arbigny,469,0116,ARBIGNY
15,01,17,Argis,473,0117,ARGIS
16,01,19,Armix,31,0119,ARMIX
17,01,21,Ars-sur-Formans,1485,0121,ARS-SUR-FORMANS
18,01,22,Artemare,1267,0122,ARTEMARE
19,01,23,Asnières-sur-Saône,76,0123,ASNIERES-SUR-SAONE
20,01,24,Attignat,3316,0124,ATTIGNAT
21,01,25,Bâgé-Dommartin,4171,0125,BAGE-DOMMARTIN
22,01,26,Bâgé-le-Châtel,1041,0126,BAGE-LE-CHATEL
23,01,27,Balan,2615,0127,BALAN
24,01,28,Baneins,634,0128,BANEINS
25,01,29,Beaupont,693,0129,BEAUPONT
26,01,30,Beauregard,844,0130,BEAUREGARD
27,01,31,Bellignat,3886,0131,BELLIGNAT
28,01,32,Béligneux,3405,0132,BELIGNEUX
29,01,33,Valserhône,16728,0133,VALSERHONE
30,01,34,Belley,9582,0134,BELLEY
31,01,35,Belleydoux,318,0135,BELLEYDOUX
32,01,36,Valromey-sur-Séran,1345,0136,VALROMEY-SUR-SERAN
33,01,37,Bénonces,312,0137,BENONCES
34,01,38,Bény,775,0138,BENY
35,01,39,Béon,451,0139,BEON
36,01,40,Béréziat,496,0140,BEREZIAT
37,01,41,Bettant,769,0141,BETTANT
38,01,42,Bey,305,0142,BEY
39,01,43,Beynost,4867,0143,BEYNOST
40,01,44,Billiat,648,0144,BILLIAT
41,01,45,Birieux,287,0145,BIRIEUX
42,01,46,Biziat,903,0146,BIZIAT
43,01,47,Blyes,1214,0147,BLYES
44,01,49,La Boisse,3356,0149,LA BOISSE
45,01,50,Boissey,369,0150,BOISSEY
46,01,51,Bolozon,92,0151,BOLOZON
47,01,52,Bouligneux,334,0152,BOULIGNEUX
48,01,53,Bourg-en-Bresse,42853,0153,BOURG-EN-BRESSE
49,01,54,Bourg-Saint-Christophe,1489,0154,BOURG-SAINT-CHRISTOPHE

In [15]:
df_ref_geo_tri_drop = df_ref_geo_tri.drop_duplicates("com_code1")

len(df_ref_geo_tri_drop)

38891

In [16]:
len(df_ref_geo_tri)

38916

In [17]:
df_ref_geo_tri

,regrgp_nom,com_code1,REG_TRI,COM,COM_TRI,id_Region
0,Province,70088,BOURGOGNE-FRANCHE-COMTE,Bourguignon-lès-la-Charité,BOURGUIGNON-LES-LA-CHARITE,1
1,Province,70095,BOURGOGNE-FRANCHE-COMTE,Breurey-lès-Faverney,BREUREY-LES-FAVERNEY,1
2,Province,70101,BOURGOGNE-FRANCHE-COMTE,Broye-Aubigney-Montseugny,BROYE-AUBIGNEY-MONTSEUGNY,1
3,Province,70111,BOURGOGNE-FRANCHE-COMTE,Calmoutier,CALMOUTIER,1
4,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY,1
...,...,...,...,...,...,...
38911,Province,26137,AUVERGNE-RHONE-ALPES,Francillon-sur-Roubion,FRANCILLON-SUR-ROUBION,3
38912,Province,26138,AUVERGNE-RHONE-ALPES,La Garde-Adhémar,LA GARDE-ADHEMAR,3
38913,Province,26142,AUVERGNE-RHONE-ALPES,Glandage,GLANDAGE,3
38914,Province,26147,AUVERGNE-RHONE-ALPES,Gumiane,GUMIANE,3
38915,Province,26149,AUVERGNE-RHONE-ALPES,Hostun,HOSTUN,3

In [18]:
df_commune_region= pd.merge(df_ref_geo_tri_drop,df_commune,how= "inner",on="COM_TRI")

df_commune_region.head()

,regrgp_nom,com_code1,REG_TRI,COM,COM_TRI,id_Region,code_departement,code_commune,Nom_commune,Nb_hab_total,id_code_dep_code_commune
0,Province,70088,BOURGOGNE-FRANCHE-COMTE,Bourguignon-lès-la-Charité,BOURGUIGNON-LES-LA-CHARITE,1,70,88,Bourguignon-lès-la-Charité,119,7088
1,Province,70095,BOURGOGNE-FRANCHE-COMTE,Breurey-lès-Faverney,BREUREY-LES-FAVERNEY,1,70,95,Breurey-lès-Faverney,665,7095
2,Province,70101,BOURGOGNE-FRANCHE-COMTE,Broye-Aubigney-Montseugny,BROYE-AUBIGNEY-MONTSEUGNY,1,70,101,Broye-Aubigney-Montseugny,506,70101
3,Province,70111,BOURGOGNE-FRANCHE-COMTE,Calmoutier,CALMOUTIER,1,70,111,Calmoutier,278,70111
4,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY,1,70,116,Chagey,629,70116

In [19]:
df_commune_region["COM_TRI"].value_counts()

SAINTE-COLOMBE         156
SAINT-SAUVEUR          132
BEAULIEU               120
SAINT-AUBIN            110
SAINTE-MARIE           108
                      ...
COLLAT                   1
LA CHOMETTE              1
CHAVANIAC-LAFAYETTE      1
CHASPUZAC                1
HOSTUN                   1
Name: COM_TRI, Length: 32576, dtype: int64

In [20]:
df_valeurs_foncieres

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-02-03,NaN,...,NaN,1,2,Appartement,NaN,52,2,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-02,NaN,...,NaN,2,2,Appartement,NaN,48,3,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-08,NaN,...,NaN,2,2,Appartement,NaN,130,6,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-06,NaN,...,NaN,1,1,Maison,NaN,109,5,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-07,NaN,...,NaN,2,2,Appartement,NaN,91,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-06-30,Vente,...,NaN,1,2,Appartement,NaN,99,3,NaN,NaN,NaN
34165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-06-30,Vente,...,NaN,1,2,Appartement,NaN,56,3,NaN,NaN,NaN
34166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-06-25,Vente,...,NaN,2,2,Appartement,NaN,29,2,NaN,NaN,NaN
34167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-06-25,Vente,...,NaN,1,2,Appartement,NaN,48,3,NaN,NaN,NaN
34168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-06-11,Vente,...,NaN,1,2,Appartement,NaN,33,1,NaN,NaN,NaN

In [21]:
df_valeurs_foncieres_tri = df_valeurs_foncieres.drop([  'Code service CH',
                                                        'Reference document',
                                                        "Nature mutation",
                                                        "Code type de voie",
                                                        '1 Articles CGI',
                                                        '2 Articles CGI',
                                                        '3 Articles CGI',
                                                        '4 Articles CGI',
                                                        '5 Articles CGI',
                                                        'No disposition',
                                                        'Nature culture',
                                                        'Nature culture speciale',
                                                        "Identifiant local",
                                                        "Surface terrain",
                                                        "Surface Carrez du 5eme lot",
                                                        "5eme lot",
                                                        "Surface Carrez du 4eme lot",
                                                        "4eme lot",
                                                        "Surface Carrez du 3eme lot",
                                                        "3eme lot",
                                                        "Surface Carrez du 2eme lot",
                                                        "2eme lot",
                                                        "No Volume",
                                                        "z"
                                                        ],axis=1)


df_valeurs_foncieres_tri['concat_vente'] = df_valeurs_foncieres_tri['Valeur fonciere'].astype(str) + df_valeurs_foncieres_tri['No voie'].astype(str) +df_valeurs_foncieres_tri['Type de voie'].astype(str)+ df_valeurs_foncieres_tri['Voie'].astype(str) + df_valeurs_foncieres_tri['Commune'].astype(str)
df_valeurs_foncieres_tri['id_vente'] =  pd.factorize(df_valeurs_foncieres_tri['concat_vente'])[0]+1

df_valeurs_foncieres_tri['concat_bien'] = df_valeurs_foncieres_tri['No voie'].astype(str) +df_valeurs_foncieres_tri['Type de voie'].astype(str) + df_valeurs_foncieres_tri['Voie'].astype(str) + df_valeurs_foncieres_tri['Commune'].astype(str)
df_valeurs_foncieres_tri['id_bien'] =  pd.factorize(df_valeurs_foncieres_tri['concat_bien'])[0]+1


df_valeurs_foncieres_tri = df_valeurs_foncieres_tri.rename({'Commune': 'COM_TRI'}, axis=1) 

df_valeurs_foncieres_tri.head(5000)

,Date mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code ID commune,Code postal,COM_TRI,...,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,concat_vente,id_vente,concat_bien,id_bien
0,2020-02-03,56000.0,190.0,A,RUE,5,CENTRALE,0,1370.0,SAINT-ETIENNE-DU-BOIS,...,50.42,1,2,Appartement,52,2,56000.0190.0RUECENTRALESAINT-ETIENNE-DU-BOIS,1,190.0RUECENTRALESAINT-ETIENNE-DU-BOIS,1
1,2020-01-02,165000.0,347.0,NaN,RUE,20,DU CHATEAU,1,1170.0,CHEVRY,...,48.22,2,2,Appartement,48,3,165000.0347.0RUEDU CHATEAUCHEVRY,2,347.0RUEDU CHATEAUCHEVRY,2
2,2020-01-08,720000.0,58.0,NaN,AV,527,DU MONT BLANC,2,1220.0,DIVONNE-LES-BAINS,...,130.80,2,2,Appartement,130,6,720000.058.0AVDU MONT BLANCDIVONNE-LES-BAINS,3,58.0AVDU MONT BLANCDIVONNE-LES-BAINS,3
3,2020-01-06,429250.0,140.0,NaN,RUE,2,DE L'ABBE JOLIVET,3,1630.0,PERON,...,109.22,1,1,Maison,109,5,429250.0140.0RUEDE L'ABBE JOLIVETPERON,4,140.0RUEDE L'ABBE JOLIVETPERON,4
4,2020-01-07,220900.0,39.0,NaN,RUE,110,BUFFON,4,1200.0,VALSERHONE,...,108.65,2,2,Appartement,91,4,220900.039.0RUEBUFFONVALSERHONE,5,39.0RUEBUFFONVALSERHONE,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2020-02-17,77000.0,7.0,NaN,RUE,5237,WALDECK ROUSSEAU,601,29200.0,BREST,...,50.80,1,2,Appartement,51,2,77000.07.0RUEWALDECK ROUSSEAUBREST,4996,7.0RUEWALDECK ROUSSEAUBREST,4487
4996,2020-02-28,77580.0,27.0,NaN,RUE,30,D AIGUILLON,601,29200.0,BREST,...,42.07,1,2,Appartement,40,2,77580.027.0RUED AIGUILLONBREST,4997,27.0RUED AIGUILLONBREST,4488
4997,2020-02-19,104670.0,13.0,NaN,RUE,1820,FREGATE LA THETIS,601,29200.0,BREST,...,66.35,2,2,Appartement,64,4,104670.013.0RUEFREGATE LA THETISBREST,4998,13.0RUEFREGATE LA THETISBREST,4489
4998,2020-03-16,76400.0,2.0,NaN,RUE,4320,DE POUL AR BACHET,601,29200.0,BREST,...,61.63,2,2,Appartement,62,4,76400.02.0RUEDE POUL AR BACHETBREST,4999,2.0RUEDE POUL AR BACHETBREST,4490
4999,2020-04-03,93500.0,21.0,NaN,RUE,975,CLEMENT MAROT,601,29200.0,BREST,...,67.90,1,2,Appartement,67,4,93500.021.0RUECLEMENT MAROTBREST,5000,21.0RUECLEMENT MAROTBREST,4491

In [22]:
df_commune_region_vente_bien= pd.merge(df_commune_region,df_valeurs_foncieres_tri,how= "inner",on="COM_TRI")

df_commune_region_vente_bien.head()

,regrgp_nom,com_code1,REG_TRI,COM,COM_TRI,id_Region,code_departement,code_commune,Nom_commune,Nb_hab_total,...,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,concat_vente,id_vente,concat_bien,id_bien
0,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY,1,70,116,Chagey,629,...,126.84,2,2,Appartement,116,5,125000.04.0RUEDU FOURNILCHAGEY,15490,4.0RUEDU FOURNILCHAGEY,13951
1,Province,70207,BOURGOGNE-FRANCHE-COMTE,Echenoz-la-Méline,ECHENOZ-LA-MELINE,1,70,207,Echenoz-la-Méline,3318,...,66.30,3,2,Appartement,60,3,62500.088.0AVPASTEURECHENOZ-LA-MELINE,15509,88.0AVPASTEURECHENOZ-LA-MELINE,13970
2,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,25.00,3,2,Appartement,25,1,21000.043.0RUEJEAN JAURESLURE,15477,43.0RUEJEAN JAURESLURE,13938
3,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,105.00,2,2,Appartement,103,5,74000.029.0RUEDES VOSGESLURE,15481,29.0RUEDES VOSGESLURE,13942
4,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,309.82,6,1,Maison,120,4,56000.03.0RUEDE LA FONTLURE,15487,3.0RUEDE LA FONTLURE,13948

In [24]:
df_commune_region_vente_bien_rename = df_commune_region_vente_bien.rename({'CODDEP': 'code_departement',
                                                                           'REG_TRI': 'Nom_Reg',
                                                                           "regrgp_nom" : "Nom_Grp_Reg",
                                                                           "code_departement" : "code_departement",
                                                                           "code_commune" : "code_commmune",
                                                                           "com_code1" : "code_postal",
                                                                           "Nom_commune" : "Nom_commune",
                                                                           "Nb_hab_total" : "Nb_hab_total",
                                                                           "Date mutation" : "Date",
                                                                           "Valeur fonciere" : "Valeur",
                                                                           "No voie" : "No_Voie",
                                                                           "B/T/Q" : "BTQ",
                                                                           "Type de voie" : "Type_Voie",
                                                                           "Voie" : "Voie",
                                                                           "Surface Carrez du 1er lot" : "surface_carrez",
                                                                           "Type local" : "Type_local",
                                                                           "Surface reelle bati" : "Surface_reelle_bati",
                                                                           "Nombre pieces principales" : "Total_pieces"}, axis=1)

df_commune_region_vente_bien_rename.head()

,Nom_Grp_Reg,code_postal,Nom_Reg,COM,COM_TRI,id_Region,code_departement,code_commmune,Nom_commune,Nb_hab_total,...,surface_carrez,Nombre de lots,Code type local,Type_local,Surface_reelle_bati,Total_pieces,concat_vente,id_vente,concat_bien,id_bien
0,Province,70116,BOURGOGNE-FRANCHE-COMTE,Chagey,CHAGEY,1,70,116,Chagey,629,...,126.84,2,2,Appartement,116,5,125000.04.0RUEDU FOURNILCHAGEY,15490,4.0RUEDU FOURNILCHAGEY,13951
1,Province,70207,BOURGOGNE-FRANCHE-COMTE,Echenoz-la-Méline,ECHENOZ-LA-MELINE,1,70,207,Echenoz-la-Méline,3318,...,66.30,3,2,Appartement,60,3,62500.088.0AVPASTEURECHENOZ-LA-MELINE,15509,88.0AVPASTEURECHENOZ-LA-MELINE,13970
2,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,25.00,3,2,Appartement,25,1,21000.043.0RUEJEAN JAURESLURE,15477,43.0RUEJEAN JAURESLURE,13938
3,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,105.00,2,2,Appartement,103,5,74000.029.0RUEDES VOSGESLURE,15481,29.0RUEDES VOSGESLURE,13942
4,Province,70310,BOURGOGNE-FRANCHE-COMTE,Lure,LURE,1,42,125,Luré,143,...,309.82,6,1,Maison,120,4,56000.03.0RUEDE LA FONTLURE,15487,3.0RUEDE LA FONTLURE,13948

In [40]:
table_region =  df_commune_region_vente_bien_rename.loc[:,["id_Region","Nom_Reg","Nom_Grp_Reg"]]

table_region= table_region.drop_duplicates()
table_region

       id_Region                     Nom_Reg    Nom_Grp_Reg
0              1     BOURGOGNE-FRANCHE-COMTE       Province
8              3        AUVERGNE-RHONE-ALPES       Province
16             2            PAYS DE LA LOIRE       Province
33            10                   GRAND EST       Province
120            4               ILE-DE-FRANCE  Ile-de-France
1342           5                   NORMANDIE       Province
1513          18                    BRETAGNE       Province
1549           6          NOUVELLE-AQUITAINE       Province
1561           9  PROVENCE-ALPES-COTE D'AZUR       Province
1609           8                   OCCITANIE       Province
1856           7             HAUTS-DE-FRANCE       Province
3232          17         CENTRE-VAL DE LOIRE       Province
8711          14                  LA REUNION       DROM-COM
8752          12                  MARTINIQUE       DROM-COM
13045         11                  GUADELOUPE       DROM-COM
13065         13                      GUYANE       DROM-COM
15199         19                       CORSE       Province

In [39]:
table_commune = df_commune_region_vente_bien_rename.loc[:,["id_code_dep_code_commune",
                                                           "code_departement",
                                                           "code_commmune",
                                                           "code_postal",
                                                           "Nom_commune",
                                                           "Nb_hab_total",
                                                           "id_Region"]]


table_commune= table_commune.drop_duplicates()

table_commune

,id_code_dep_code_commune,code_departement,code_commmune,code_postal,Nom_commune,Nb_hab_total,id_Region
0,70116,70,116,70116,Chagey,629,1
1,70207,70,207,70207,Echenoz-la-Méline,3318,1
2,42125,42,125,70310,Luré,143,1
5,70310,70,310,70310,Lure,8231,1
8,42125,42,125,42125,Luré,143,3
...,...,...,...,...,...,...,...
49541,25254,25,254,25254,Les Fourgs,1436,1
49542,25304,25,304,25304,Hérimoncourt,3724,1
49543,25462,25,462,25462,Pontarlier,18440,1
49550,25494,25,494,25494,Rochejean,735,1
49551,26114,26,114,26114,Dieulefit,3375,3

In [32]:
df_commune_region_vente_bien_rename.columns

Index(['Nom_Grp_Reg', 'code_postal', 'Nom_Reg', 'COM', 'COM_TRI', 'id_Region',
       'code_departement', 'code_commmune', 'Nom_commune', 'Nb_hab_total',
       'id_code_dep_code_commune', 'Date', 'Valeur', 'No_Voie', 'BTQ',
       'Type_Voie', 'Code voie', 'Voie', 'Code ID commune', 'Code postal',
       'Code departement', 'Code commune', 'Section', 'No plan', '1er lot',
       'surface_carrez', 'Nombre de lots', 'Code type local', 'Type_local',
       'Surface_reelle_bati', 'Total_pieces', 'concat_vente', 'id_vente',
       'concat_bien', 'id_bien'],
      dtype='object')

In [41]:
table_bien = df_commune_region_vente_bien_rename.loc[:,["id_bien",
                                                           "No_Voie",
                                                           "BTQ",
                                                           "Type_Voie",
                                                           "Voie",
                                                           "surface_carrez",
                                                           "Type_local",
                                                           "Surface_reelle_bati",
                                                           "Total_pieces",
                                                           "id_code_dep_code_commune"]]

table_bien

,id_bien,No_Voie,BTQ,Type_Voie,Voie,surface_carrez,Type_local,Surface_reelle_bati,Total_pieces,id_code_dep_code_commune
0,13951,4.0,NaN,RUE,DU FOURNIL,126.84,Appartement,116,5,70116
1,13970,88.0,NaN,AV,PASTEUR,66.30,Appartement,60,3,70207
2,13938,43.0,NaN,RUE,JEAN JAURES,25.00,Appartement,25,1,42125
3,13942,29.0,NaN,RUE,DES VOSGES,105.00,Appartement,103,5,42125
4,13948,3.0,NaN,RUE,DE LA FONT,309.82,Maison,120,4,42125
...,...,...,...,...,...,...,...,...,...,...
49548,3992,8.0,NaN,RUE,JULES FERRY,38.00,Appartement,52,2,25462
49549,3997,71.0,NaN,RUE,DE BESANCON,63.99,Appartement,67,3,25462
49550,3971,9.0,NaN,RTE,DES GRANGES VANNOD,135.57,Appartement,130,4,25494
49551,4049,4.0,NaN,RUE,MALAUTIERE,41.66,Appartement,42,3,26114
49552,4169,28.0,NaN,RUE,JUSTIN JOUVE,73.23,Appartement,70,3,26114

In [42]:
table_vente = df_commune_region_vente_bien_rename.loc[:,["id_vente",
                                                           "Date",
                                                           "Valeur",
                                                           "id_bien"]]

table_vente

       id_vente       Date    Valeur  id_bien
0         15490 2020-06-29  125000.0    13951
1         15509 2020-02-25   62500.0    13970
2         15477 2020-01-10   21000.0    13938
3         15481 2020-02-10   74000.0    13942
4         15487 2020-05-13   56000.0    13948
...         ...        ...       ...      ...
49548      4469 2020-06-08  117800.0     3992
49549      4474 2020-06-11  132850.0     3997
49550      4448 2020-01-20  278000.0     3971
49551      4526 2020-02-21   64700.0     4049
49552      4655 2020-06-25   40000.0     4169

[49553 rows x 4 columns]